@using oop_project

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ui</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-home-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="messages">
                <span class="bi bi-chat-left-text-nav-menu" aria-hidden="true"></span> Messages
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="my-ads">
                <span class="bi bi-card-list-nav-menu" aria-hidden="true"></span> My advertisements
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="add-ad">
                <span class="bi bi-plus-circle-nav-menu" aria-hidden="true"></span> Add advertisement
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="javascript:void(0);" @onclick="SignOut">
                <span class="bi bi-box-arrow-right-nav-menu" aria-hidden="true"></span> Sign Out
            </NavLink>
        </div>
    </nav>
</div>

@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private void SignOut()
    {
        // Assuming Guest class and repository instances are accessible as per previous AuthState setup
        AuthState.CurrentUser = new Guest(
            AdvertisementRepository.Instance,
            ChatRepository.Instance,
            RegisteredUserRepository.Instance
        );
        NavigationManager.NavigateTo("/signin");
    }
}

